@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    @apply text-center text-white;
  }

  h1 {
    @apply text-[26px] md:text-[54px] md:leading-[64px] font-extrabold;
  }
  h2 {
    @apply text-[40px] leading-[54px] font-extrabold;
  }

  h3 {
    @apply font-semibold text-3xl tracking-[-3%] text-black;
  }

  p.header-white-text {
    @apply text-base font-medium md:text-xl md:leading-[30px] text-center md:mt-[20px] text-white mt-[14px];
  }
  .header-div {
    @apply bg-black py-3 md:py-4 px-4 md:px-5 max-w-[970px] mx-auto mt-2 md:mt-5;
  }
}

@layer components {
  /* buttons */
  .btn {
    @apply py-4 w-full flex items-center gap-[12px] text-white rounded-[60px] text-[16px] font-bold text-center tracking-[0.5px] justify-center;
  }

  .btn-auth {
    @apply bg-black hover:bg-gray-900 transition-colors;
  }

  /* nav */
  nav {
    @apply bg-white border h-[50px] flex items-center md:h-[80px];
  }

  nav .first-div {
    @apply flex items-center justify-between w-full flex-wrap md:flex-nowrap max-w-[1300px] mx-auto px-4 border border-green-500 md:px-6;
  }

  nav ul {
    @apply border w-full bg-white  fixed  top-0 h-screen flex flex-col md:flex-row  gap-16 md:gap-9 justify-center items-center overflow-hidden md:static md:h-fit md:w-full md:flex-grow md:justify-end;
  }
  nav ul li {
    @apply font-medium text-xl md:text-xl leading-[23.46px] tracking-[-3%] cursor-pointer;
  }

  /* pitch card */
  .pitch-card {
    @apply w-full max-w-[320px] py-6 flex flex-col justify-center px-5 rounded-[22px] border-4 border-black shadow-pitch-card  bg-white hover:bg-color-primary-fade hover:border-color-primary hover:shadow-color-primary cursor-pointer transition-colors  ease-in;
  }

  .pitch-card-text-1 {
    @apply font-medium tracking-[-3%] text-sm md:text-base;
  }

  .pitch-card-details-btn {
    @apply py-1.5 px-5 md:py-2.5 md:px-5 text-sm md:text-base font-medium text-white tracking-[-3%] rounded-[70px] bg-[#141413];
  }

  /* startup form search */

  .form-search-input {
    @apply font-bold text-2xl leading-[70px] text-black;
  }

  /* Create form */
  .create input {
    @apply focus:outline-none border-[3px] border-black rounded-[50px] py-4 px-[17px]  md:text-[18px] leading-[21.11px] font-semibold text-black w-full;
  }

  .create textarea {
    @apply focus:outline-none border-[3px] border-black rounded-[20px] py-4 px-[17px]  md:text-[18px] leading-[21.11px] font-semibold text-black w-full;
  }
  .create .error-msg {
    @apply text-color-primary italic text-xs font-medium;
  }
}

@layer utilities {
  .triangle {
    clip-path: polygon(0 0, 100% 0, 48% 53%, 0% 100%);
  }

  .triangle-2 {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
